.food-analyzer {
    position: relative;

    width: 1000px;
    height: 900px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: var(--padding-container);

    border: var(--border);
    border-radius: var(--border-radius-container);
    background-color: var(--color-surface);
    box-shadow: var(--shadow-soft);
}