.food-card-macros {
    display: flex;
    flex-direction: column;
    align-items: center                                                                                                     ;
}

.food-card-macros__calories {
    font-size: var(--font-size-heading);
    font-weight: var(--weight-semibold);
}

.PFC {
    display: flex;
    gap: var(--spacing-md);

    color: var(--color-text-soft);
    font-size: var(--font-size-title);
}