.navigation {
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 16px 100px;

    margin-top: auto;

    width: 100%;
    height: 90px;

    color: var(--color-text);

    background-color: var(--color-card);
    border: var(--border);
    border-radius: var(--border-radius-section);
    box-shadow: var(--shadow-card);
}

.navigation__element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    font-size: var(--font-size-header);
}

.navigation__icon {
    color: var(--color-text-muted);
}

.button__add {
    width: 65px;
    height: 55px;

    border-radius: 45px;

    color: white;
    box-shadow: var(--shadow-button);

    background-color: var(--color-progress-green);
}