.calculate-form {
    display: flex;
    flex-direction: column;

    color: var(--color-text);
    padding: 32px;
    background-color: var(--color-card);
    border-radius: var(--border-radius-container);
    border: var(--border);
    width: 100%;
    height: 100%;

    box-shadow: var(--shadow-soft);

    font-size: var(--font-size-text);

    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__info {
    display: flex;
    flex-direction: column;
}

.header__title {
    font-size: var(--font-size-header);
}

.header__text {
    font-size: var(--font-size-text);
}

.calculate-form__parameters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    column-gap: 24px;
    row-gap: 8px;
}
.calculate-form__buttons {
    display: flex;
    justify-content: space-between;
}
.calculate-form__reset-button {
    border: var(--border);
    padding: 13px 26px;
    border-radius: 30px;
    font-size: var(--font-size-title);
}

.calculate-form__calculate-button {
    display: flex;
    gap: 20px;

    border: var(--border);
    padding: 13px 26px;
    border-radius: 30px;
    color: white;
    background-color: var(--color-primary-hover);
    font-size: var(--font-size-title)
}