.food-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: var(--border);
    border-radius: var(--border-radius-section);
    
    box-shadow: var(--shadow-soft);

    font-size: 20px;

    background-color: var(--color-card);

    padding: var(--padding-toolbar);
}

.food-info__total {
    color: var(--color-text-muted);
    font-weight: var(--weight-semibold);
    
}

.food-info__delete-all-button{
    border: none;
    border-radius: 20px;
    background-color: var(--color-danger-soft);
    color: var(--color-danger);
    font-weight: var(--weight-semibold);
    padding: 5px 10px;
}