.optional {
    background-color: var(--color-primary-soft);
    padding: 20px;
    border-radius: var(--border-radius-section);
    font-size: var(--font-size-text);
}

.optional__header {
    display: flex;
    gap: 10px;
    color: var(--color-primary-hover);
    margin-bottom: 10px;
}


.optional__fields {
    display: flex;
    gap: 30px;

}


