.macronutrients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    padding: var(--padding-card);

    background-color: var(--color-surface);
    
    font-size: var(--font-size-body);

    color: var(--color-text-muted);

    border: var(--border);
    border-radius: var(--border-radius-card);
    align-items: center;
    justify-content: center;
    
}

.proteins,
.carbohydrates,
.fats {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: var(--weight-bold);
    line-height: var(--line-height-normal);
    letter-spacing: 2px;
}

.proteins__title,
.carbohydrates__title,
.fats__title {
    text-transform: uppercase;
} 