.statistics {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 1fr;

    border: 1px solid black;
    border-radius: 20px;

    padding: 10px;

    background-color: var(--color-green);
}